body {
  background-image: url("./public/images/lab3-images/background.png");
  font-size: 8pt;
  font-family: Verdana, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-background {
  background-image: url("./public/images/lab3-images/bannerbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
}

.banner {
  background-image: url("./public/images/lab3-images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 50px;
}

.movie-title {
  text-align: center;
  font-family: Tahoma, Verdana, Tahoma, sans-serif;
  font-size: 24pt;
  font-weight: bold;
  text-shadow: 3px 3px #999999;
}

.main-container {
  display: flex;
  justify-content: center;
}

.movie-container {
  width: 800px;
  border: 4px solid gray;
  border-radius: 20px;
}

.left-container {
  width: 550px;
  float: left;
}

.right-container {
  width: 250px;
  float: right;
}

.rotten-background {
  background-image: url("./public/images/lab3-images/rbg.png");
  height: 83px;
  border-top-left-radius: 17px;
}

.rotten {
  background-image: url("./public/images/lab3-images/rottenbig.png");
  background-repeat: no-repeat;
  border-radius: 17px;
  height: 83px;
  float: left;
  width: 100px;
}

.rating-styles {
  font-size: 48pt;
  font-weight: bold;
  color: red;
}

.movie-overview-styles {
  background-image: url("./public/images/lab3-images/overview.png");
  border-top-right-radius: 17px;
  height: 100px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.review-container {
  width: 47%;
  margin-right: 2%;
}
