main {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 20px;
}

body {
  background-color: lightslategray;
}

label {
  font-weight: bold;
}

.align-center {
  text-align: center;
}

.form-styles {
  display: flex;
  flex-direction: column;
  margin: 40px;
  align-items: flex-start;
  background-color: lightsteelblue;
  padding: 80px;
  border-radius: 5px;
  width: 50%;
}

.field-container {
  display: inline;
}

.float-right {
  float: right;
}

.fields-wrapper {
  margin-bottom: 10px;
  width: 100%;
}

.text-styles {
  color: lightcoral;
}

.margin-right {
  margin-right: 40px;
}

.button-styles {
  font-weight: bold;
  background-color: red;
}
